<div id="root">
  <div class="mob-only">
    <h3 _ngcontent-eop-c16="" class="big-heading">
      Please use big screen for the better experience!!
    </h3>
  </div>
  <a class="skip-to-content" href="#content">Skip to Content</a>
  <div class="layout__StyledContent-sc-1yw8zls-0 cZslOS">
    <header class="nav__StyledHeader-ghklvd-0 hLTFFw">
      <nav class="nav__StyledNav-ghklvd-1 kFCHyX">
        <div class="logo fade-enter-done" tabindex="-1">
          <a href="/" aria-label="home">
            <div class="logo-container"><img
                src="https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/icon-portfolio.png" alt="icon-logo">
            </div>
          </a>
        </div>
        <div class="nav__StyledLinks-ghklvd-2 ihALZY">
          <ol>
            <li class="fadedown-enter-done" style="transition-delay: 0ms">
              <a href="#about">About</a>
            </li>
            <li class="fadedown-enter-done" style="transition-delay: 100ms">
              <a href="#jobs">Experience</a>
            </li>
            <li class="fadedown-enter-done" style="transition-delay: 200ms">
              <a href="#projects">Projects</a>
            </li>
            <li class="fadedown-enter-done" style="transition-delay: 300ms">
              <a href="#contact">Contact</a>
            </li>
          </ol>
          <div class="fadedown-enter-done" style="transition-delay: 400ms">
            <a class="resume-button"
              href="https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/Chittaranjan_resume.pdf"
              target="_blank" rel="noopener noreferrer">Resume</a>
          </div>
        </div>
        <div class="menu__StyledMenu-sdn9y6-0 dAwNpJ fade-enter-done">
          <div>
            <button aria-label="Menu" class="menu__StyledHamburgerButton-sdn9y6-1 eCxtrN">
              <div class="ham-box">
                <div class="ham-box-inner"></div>
              </div>
            </button>
            <aside aria-hidden="true" tabindex="-1" class="menu__StyledSidebar-sdn9y6-2 lknEs">
              <nav>
                <ol>
                  <li><a href="#about">About</a></li>
                  <li><a href="#jobs">Experience</a></li>
                  <li><a href="#projects">Work</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ol>
                <a href="/resume.pdf" class="resume-link">Resume</a>
              </nav>
            </aside>
          </div>
        </div>
      </nav>
    </header>
    <div orientation="left" class="side__StyledSideElement-sc-1duznzb-0 hOvuuP">
      <ul class="social__StyledSocialList-anu6nt-0 dVLQAC fade-enter-done">
        <li>
          <a href="https://github.com/Chittaranjan127" aria-label="GitHub" target="_blank" rel="noreferrer"><svg
              xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
              <title>GitHub</title>
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg></a>
        </li>
        <li>
          <a href="https://instagram.com/heyyvicky" aria-label="Instagram" target="_blank" rel="noreferrer"><svg
              xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
              <title>Instagram</title>
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg></a>
        </li>
        <li>
          <a href="https://twitter.com/mrfreaklive" aria-label="Twitter" target="_blank" rel="noreferrer"><svg
              xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
              <title>Twitter</title>
              <path
                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
              </path>
            </svg></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/chittaranjandas1998/" aria-label="Linkedin" target="_blank"
            rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-linkedin">
              <title>LinkedIn</title>
              <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg></a>
        </li>
      </ul>
    </div>
    <div orientation="right" class="side__StyledSideElement-sc-1duznzb-0 jSIwrL">
      <div class="email__StyledLinkWrapper-sc-2epoq-0 jJFfEJ fade-enter-done">
        <a href="mailto:chittaranjan1998.das@gmail.com">chittaranjan1998.das@gmail.com</a>
      </div>
    </div>
    <div id="content">
      <main class="pages__StyledMainContainer-sc-1tzx2o8-0 ePyBYl fillHeight">
        <section class="hero__StyledHeroSection-sc-116xg8t-0 jnUoFC">
          <div class="fadeup-enter-done" style="transition-delay: 100ms">
            <h1>Hi, my name is</h1>
          </div>
          <div class="fadeup-enter-done" style="transition-delay: 200ms">
            <h2 class="big-heading">Chittaranjan Das.</h2>
          </div>
          <div class="fadeup-enter-done" style="transition-delay: 300ms">
            <h3 class="big-heading">I am a software developer</h3>
          </div>
          <div class="fadeup-enter-done" style="transition-delay: 400ms">
            <p>
              I am a Senior Software Engineer currently based in Gurgaon, India.
              With 4 years of experience in the software development industry, I
              have honed my skills in designing, developing, and delivering
              high-quality software solutions that meet the needs of diverse
              clients.
            </p>
          </div>
          <div class="fadeup-enter-done" style="transition-delay: 500ms">
            <a class="email-link" href="https://www.linkedin.com/in/chittaranjandas1998" target="_blank"
              rel="noreferrer">Check out my LinkedIn</a>
          </div>
        </section>
        <section id="about" class="about__StyledAboutSection-sc-1ownso9-0 bNXWUU" data-sr-id="0" style="
            visibility: visible;
            opacity: 1;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
              transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
          ">
          <h2 class="numbered-heading">About Me</h2>
          <div class="inner">
            <div class="about__StyledText-sc-1ownso9-1 kNIdQM">
              <div>
                <p>
                  Hello, my name is Chittaranjan, and I am a Senior Software
                  Engineer based in Gurgaon, India. With four years of
                  experience in the software development industry, I have honed
                  my skills in designing, developing, and delivering
                  high-quality software solutions that meet the needs of diverse
                  clients.
                </p>
                <p>
                  Throughout my career, I have worked on various projects,
                  ranging from web applications to IVR apps and enterprise
                  software. I am proficient in multiple programming languages,
                  including JAVA, Javascript, and more, and I possess a deep
                  understanding of software development methodologies, such as
                  Agile.
                </p>
                <p>
                  Currently, I work at
                  <a href="http://www.snug.in/" rel="noopener noreferrer" target="_blank">SNUG Technologies Private
                    Limited</a>
                  , where I am responsible for delivering quality products and
                  ensuring that our software products are delivered on time and
                  meet the required quality standards. I also work closely with
                  our clients to understand their requirements and provide
                  technical solutions to meet their needs.
                </p>
                <p></p>
                <p>
                  Here are a few technologies I’ve been working with recently:
                </p>
              </div>
              <ul class="skills-list">
                <li>Java</li>
                <li>Spring Boot</li>
                <li>Angular</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>Bootsrap 4</li>
                <li>AWS</li>
                <li>Linux</li>
                <li>Apache Services</li>
                <li>Avaya Services</li>
                <li>GitHub</li>
              </ul>
              <p></p>
              <p>
                Here are a few clients I've been working with recently:
              </p>
              <ul class="skills-list">
                <li><a target="_blank" href="https://uidai.gov.in/">UIDAI (AADHAR)</a></li>
                <li><a target="_blank" href="https://www.bkash.com/">bKash (Bangladesh)</a></li>
                <li><a target="_blank" href="http://techmahindra.com/">Tech Mahindra</a></li>
                <li><a target="_blank" href="https://www.wns.com/">WNS</a></li>
                <li><a target="_blank" href="https://www.onlinesbi.sbi/">State Bank of India</a></li>
                <li><a target="_blank" href="https://www.hcltech.com/">HCL</a></li>
                <li><a target="_blank" href="https://www.bni.co.id/en-us/">Bank Negara Indonesia</a></li>
                <li><a target="_blank" href="https://www.dialog.lk/">Dialog</a></li>
                <li><a target="_blank" href="https://www.accessbankplc.com/">Access Bank</a></li>
              </ul>
            </div>
            <div class="about__StyledPic-sc-1ownso9-2 lbrXps">
              <div class="wrapper">
                <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
                  <div style="max-width: 500px; display: block">
                    <img alt="" role="presentation" aria-hidden="true"
                      src="data:image/svg+xml;charset=utf-8,%3Csvg height='500' width='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                      style="max-width: 100%; display: block; position: static" />
                  </div>
                  <div aria-hidden="true" data-placeholder-image="" style="
                      opacity: 0;
                      transition: opacity 500ms linear 0s;
                      background-color: rgb(232, 232, 232);
                      position: absolute;
                      inset: 0px;
                      object-fit: cover;
                    "></div>
                  <picture>
                    <img width="500" height="500" data-main-image="" sizes="(min-width: 500px) 500px, 100vw"
                      decoding="async"
                      src="https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/my_photo.jpeg" alt="My Photo"
                      style="object-fit: cover; opacity: 1" />
                  </picture><noscript></noscript>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="jobs" class="jobs__StyledJobsSection-sc-59sdss-0 jdfosx" data-sr-id="2" style="
            visibility: visible;
            opacity: 1;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
              transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
          ">
          <h2 class="numbered-heading">Where I’ve Worked</h2>
          <div class="inner">
            <div role="tablist" aria-label="Job tabs" class="jobs__StyledTabList-sc-59sdss-1 sAHTI">
              <button (click)="switchJobBtnActive('0')" id="tab-0" role="tab" tabindex="0" aria-selected="true"
                aria-controls="panel-0" class="jobs__StyledTabButton-sc-59sdss-2 dHdZWh btnJob">
                <span>SNUG</span>
              </button>

              <button (click)="switchJobBtnActive('1')" id="tab-1" role="tab" tabindex="-1" aria-selected="false"
                aria-controls="panel-1" class="jobs__StyledTabButton-sc-59sdss-2 gHbkvF btnJob">
                <span>Spyne</span>
              </button>

              <button (click)="switchJobBtnActive('2')" id="tab-2" role="tab" tabindex="-1" aria-selected="false"
                aria-controls="panel-2" class="jobs__StyledTabButton-sc-59sdss-2 gHbkvF btnJob">
                <span>Eventila</span>
              </button>

              <div class="jobs__StyledHighlight-sc-59sdss-3 fLsUSJ left-line"></div>
            </div>

            <div class="jobs__StyledTabPanels-sc-59sdss-4 jbGgbG">
              <div id="panel-0" role="tabpanel" tabindex="0" aria-labelledby="tab-0" aria-hidden="false"
                class="jobs__StyledTabPanel-sc-59sdss-5 QgHxr">
                <h3>
                  <span>Senior Software Developer</span><span class="company">&nbsp;@&nbsp;<a href="http://www.snug.in/"
                      class="inline-link" rel="noopener noreferrer" target="_blank">SNUG</a></span>
                </h3>
                <p class="range">April 2021 - Present</p>
                <div>
                  <ul>
                    <li>
                      Deliver high-quality, robust production code for a diverse
                      array of projects for clients including
                      <a class="ref-link" href="https://uidai.gov.in/" target="_blank">UIDAI (AADHAR)</a>,
                      <a class="ref-link" href="https://bni.com.sg/en-SG/index" target="_blank">BNI</a>,<a
                        class="ref-link" href="https://www.bkash.com/" target="_blank">bKash</a>
                      and more.
                    </li>
                    <li>
                      Work alongside creative directors to lead the research,
                      development, and architecture of technical solutions to
                      fulfill business requirements
                    </li>
                    <li>
                      Collaborate with designers, project managers, and other
                      engineers to transform creative concepts into production
                      realities for clients and stakeholders
                    </li>
                    <li>
                      Provide leadership within engineering department through
                      close collaboration, knowledge shares, and mentorship
                    </li>
                  </ul>
                </div>
              </div>
              <div id="panel-1" role="tabpanel" tabindex="-1" aria-labelledby="tab-1" aria-hidden="true"
                class="jobs__StyledTabPanel-sc-59sdss-5 QgHxr hide-elem">
                <h3>
                  <span>Software Engineer</span><span class="company">&nbsp;@&nbsp;<a href="https://www.spyne.ai/"
                      class="inline-link" rel="noopener noreferrer" target="_blank">Spyne</a></span>
                </h3>
                <p class="range">Sept 2019 - Sept 2020</p>
                <div>
                  <ul>
                    <li>
                      Developed interactive web applications for clients to
                      fulfill their web and SEO requirements.
                    </li>
                    <li>
                      Built and integrated the payment gatway system to make the
                      client's payment part fully automatic.
                    </li>
                    <li>
                      Created internal CRM report to track the product usage and
                      growth.
                    </li>
                    <li>
                      Created public API to integrate with the internal services
                      on demand.
                    </li>
                  </ul>
                </div>
              </div>
              <div id="panel-2" role="tabpanel" tabindex="-1" aria-labelledby="tab-2" aria-hidden="true"
                class="jobs__StyledTabPanel-sc-59sdss-5 QgHxr hide-elem">
                <h3>
                  <span>Associate Software Engineer</span><span class="company">&nbsp;@&nbsp;<a
                      href="https://www.instagram.com/eventilaindia/?hl=en" class="inline-link"
                      rel="noopener noreferrer" target="_blank">Eventila</a></span>
                </h3>
                <p class="range">Jun 2019 - Sept 2019</p>
                <div>
                  <ul>
                    <li>
                      Collaborated with other developers and designers to create
                      the comapany landing page.
                    </li>
                    <li>
                      Built and delivered technical solutions according to the
                      product feature and requirements.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="projects">
          <h2 class="numbered-heading" data-sr-id="3"
            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;">
            Some Things I’ve Built</h2>
          <ul class="featured__StyledProjectsGrid-ywnbqt-0 dnNJYD">
            <li class="featured__StyledProject-ywnbqt-1 gvznfB" data-sr-id="4"
              style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
              <div class="project-content">
                <div>
                  <p class="project-overline">Featured Project</p>
                  <h3 class="project-title"><a href="http://unimate.snug.in/#/login" rel="noopener noreferrer"
                      target="_blank">Unimate Portal</a></h3>
                  <div class="project-description">
                    <p>A portal website to control the IVR flow. It includes reporting, IVR flow designing and used by
                      organizations like <a href="https://uidai.gov.in/" target="_blank" rel="noopener noreferrer">UIDAI
                        (AADHAR)</a>, <a href="https://www.bkash.com/" target="_blank"
                        rel="noopener noreferrer">bKash</a> etc.</p>
                  </div>
                  <ul class="project-tech-list">
                    <li>JAVA</li>
                    <li>Angular</li>
                    <li>Spring boot</li>
                    <li>MSSQL</li>
                    <li>AAOD</li>
                  </ul>
                  <div class="project-links"><a href="http://unimate.snug.in/#/login" aria-label="External Link"
                      class="external" rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                        <title>External Link</title>
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                      </svg></a></div>
                </div>
              </div>
              <div class="project-image"><a href="http://unimate.snug.in/#/login" rel="noopener noreferrer"
                  target="_blank">
                  <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
                    <div style="max-width: 700px; display: block;"><img alt="" role="presentation" aria-hidden="true"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg height='438' width='700' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                        style="max-width: 100%; display: block; position: static;"></div><img aria-hidden="true"
                      data-placeholder-image="" decoding="async"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAIAAAAmMtkJAAAACXBIWXMAAAsTAAALEwEAmpwYAAACBklEQVQoz23O7W6bMBQGYO5iSoEY7GBjY2MwH/6AJk3SrStVlQbabJq23f9lTCRR1x+VHllH57zHtie76VOZmbidhDuf9vOMl7vxgyl3k7Bj2b/uH093D6dm89rfv3X7N2Gny/Rj3hP2+J+Zcf2iuvHv7x/jdHo5vv359fM4nrL2Ov2Y94R5eSfdUXZj4UbpRqaP3BxzN3Izk+4qn9+45j2uD1wfhDlwc5BuLLqp6Maz6XLLpX4vcnvk5zA3B4+3z0I/0XpgzROrh7Sa0Xq4dLL2Oa0er+qBzc2B1XOeNoPH6iHhOiblTSQT0SNuAFE+Uj4sfVjG1CTCkWIdEwNQuYjLm7j0oQqQiqjziHpIWJPr9ZI6IDa0vaftGkoXi36ZuiXRMe9w+ZVXD7zdFlUPM+OjClJDilsvVd8xazBvF7EE1LF6l5s9re6R3GK5BakNsUGpw/ldVN5JZRKpfVQBXENmPVJ+A6hEpFlEwk8aLG+pcii3ATbBqvGhilKbFDuidqxaA96F2IH5RyYkxlvJPYhFKjdLogOssVpz2ydNH3MN0yZMKjAvb0W9E/WGlBvIbudNrENqvVW+A7Egol/AMsQaFWskWsRNIjrITLCqQGri1BLek9zBrLmBlT9Ty6T1VmIbRDxaqS9hFiRNgFsf1T6q3oHUQNbHqQXMwsxA2kbUAKLDpP0H4Daf056mKVMAAAAASUVORK5CYII="
                      alt="" style="opacity: 0; transition: opacity 500ms linear 0s; object-fit: cover;">
                    <picture>
                      <source type="image/avif" srcset="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/9aa63/halcyon.avif 175w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 350w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 700w"
                        sizes="(min-width: 700px) 700px, 100vw">
                      <source type="image/webp" srcset="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/240e7/halcyon.webp 175w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 350w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 700w"
                        sizes="(min-width: 700px) 700px, 100vw"><img width="700" height="438" data-main-image=""
                        sizes="(min-width: 700px) 700px, 100vw" decoding="async"
                        src="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/d2194/halcyon.png" srcset="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/cebcc/halcyon.png 175w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 350w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 700w"
                        alt="Halcyon Theme" style="object-fit: cover; opacity: 1;">
                    </picture><noscript></noscript>
                  </div>
                </a></div>
            </li>
            <li class="featured__StyledProject-ywnbqt-1 gvznfB" data-sr-id="5"
              style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;">
              <div class="project-content">
                <div>
                  <p class="project-overline">Featured Project</p>
                  <h3 class="project-title"><a href="https://portfolio.chittaranjandas.in/" rel="noopener noreferrer"
                      target="_blank">Portfolio Webiste</a></h3>
                  <div class="project-description">
                    <p>A personal portfolio website that you are currently looking at :)</p>
                  </div>
                  <ul class="project-tech-list">
                    <li>Angular</li>
                    <li>Bootsrap4</li>
                    <li>AWS_S3</li>
                    <li>AWS_Amplify</li>
                  </ul>
                  <div class="project-links">
                    <a href="https://portfolio.chittaranjandas.in/" aria-label="External Link" class="external"
                      rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-external-link">
                        <title>External Link</title>
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                      </svg></a>
                  </div>
                </div>
              </div>
              <div class="project-image"><a href="https://portfolio.chittaranjandas.in/" rel="noopener noreferrer"
                  target="_blank">
                  <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
                    <div style="max-width: 700px; display: block;">
                      <img alt="" role="presentation" aria-hidden="true"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg height='438' width='700' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                        style="max-width: 100%; display: block; position: static;">
                    </div><img aria-hidden="true" data-placeholder-image="" decoding="async"
                      src="https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/portfolio-website.png" alt=""
                      style="opacity: 0; transition: opacity 500ms linear 0s; object-fit: cover;">
                    <picture>
                      <img width="700" height="438" data-main-image="" sizes="(min-width: 700px) 700px, 100vw"
                        decoding="async"
                        src="https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/portfolio-website.png"
                        srcset="https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/portfolio-website.png 175w,
https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/portfolio-website.png 350w,
https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/portfolio-website.png 700w" alt="Spotify Profile"
                        style="object-fit: cover; opacity: 1;">
                    </picture><noscript></noscript>
                  </div>
                </a></div>
            </li>

            <li class="featured__StyledProject-ywnbqt-1 gvznfB" data-sr-id="4"
              style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
              <div class="project-content">
                <div>
                  <p class="project-overline">Featured Project</p>
                  <h3 class="project-title"><a href="http://unimate.snug.in/#/login" rel="noopener noreferrer"
                      target="_blank">ADHOC Reporting Platform</a></h3>
                  <div class="project-description">
                    <p>A platform to dynamically query the ECHI data. One can use custom filters to fecth the report and
                      export. It is specially build for companies like <a href="https://www.techmahindra.com/"
                        target="_blank" rel="noopener noreferrer">Tech Mahindra</a> who are using Avaya's Old CAA
                      Platform</p>
                  </div>
                  <ul class="project-tech-list">
                    <li>Angular</li>
                    <li>JAVA</li>
                    <li>Spring boot</li>
                    <li>MSSQL</li>
                  </ul>
                  <div class="project-links"><a href="http://unimate.snug.in/#/login" aria-label="External Link"
                      class="external" rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                        <title>External Link</title>
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                      </svg></a></div>
                </div>
              </div>
              <div class="project-image"><a href="http://unimate.snug.in/#/login" rel="noopener noreferrer"
                  target="_blank">
                  <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
                    <div style="max-width: 700px; display: block;"><img alt="" role="presentation" aria-hidden="true"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg height='438' width='700' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                        style="max-width: 100%; display: block; position: static;"></div><img aria-hidden="true"
                      data-placeholder-image="" decoding="async"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAIAAAAmMtkJAAAACXBIWXMAAAsTAAALEwEAmpwYAAACBklEQVQoz23O7W6bMBQGYO5iSoEY7GBjY2MwH/6AJk3SrStVlQbabJq23f9lTCRR1x+VHllH57zHtie76VOZmbidhDuf9vOMl7vxgyl3k7Bj2b/uH093D6dm89rfv3X7N2Gny/Rj3hP2+J+Zcf2iuvHv7x/jdHo5vv359fM4nrL2Ov2Y94R5eSfdUXZj4UbpRqaP3BxzN3Izk+4qn9+45j2uD1wfhDlwc5BuLLqp6Maz6XLLpX4vcnvk5zA3B4+3z0I/0XpgzROrh7Sa0Xq4dLL2Oa0er+qBzc2B1XOeNoPH6iHhOiblTSQT0SNuAFE+Uj4sfVjG1CTCkWIdEwNQuYjLm7j0oQqQiqjziHpIWJPr9ZI6IDa0vaftGkoXi36ZuiXRMe9w+ZVXD7zdFlUPM+OjClJDilsvVd8xazBvF7EE1LF6l5s9re6R3GK5BakNsUGpw/ldVN5JZRKpfVQBXENmPVJ+A6hEpFlEwk8aLG+pcii3ATbBqvGhilKbFDuidqxaA96F2IH5RyYkxlvJPYhFKjdLogOssVpz2ydNH3MN0yZMKjAvb0W9E/WGlBvIbudNrENqvVW+A7Egol/AMsQaFWskWsRNIjrITLCqQGri1BLek9zBrLmBlT9Ty6T1VmIbRDxaqS9hFiRNgFsf1T6q3oHUQNbHqQXMwsxA2kbUAKLDpP0H4Daf056mKVMAAAAASUVORK5CYII="
                      alt="" style="opacity: 0; transition: opacity 500ms linear 0s; object-fit: cover;">
                    <picture>
                      <source type="image/avif" srcset="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/9aa63/halcyon.avif 175w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/adhoc-tech-m.png 350w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/adhoc-tech-m.png 700w"
                        sizes="(min-width: 700px) 700px, 100vw">
                      <source type="image/webp" srcset="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/240e7/halcyon.webp 175w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 350w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 700w"
                        sizes="(min-width: 700px) 700px, 100vw"><img width="700" height="438" data-main-image=""
                        sizes="(min-width: 700px) 700px, 100vw" decoding="async"
                        src="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/d2194/halcyon.png" srcset="/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/cebcc/halcyon.png 175w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 350w,
              https://chittaranjan-portfolio.s3.ap-south-1.amazonaws.com/img/unimate-portal.png 700w"
                        alt="Halcyon Theme" style="object-fit: cover; opacity: 1;">
                    </picture><noscript></noscript>
                  </div>
                </a></div>
            </li>

          </ul>
        </section>

        <section id="contact" class="contact__StyledContactSection-sc-1m8df4t-0 fMdyDu" data-sr-id="15" style="
            visibility: visible;
            opacity: 1;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
              transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
          ">
          <h2 class="numbered-heading overline">What’s Next?</h2>
          <h2 class="title">Get In Touch</h2>
          <p>
            Although I’m not currently looking for any new opportunities, my
            inbox is always open. Whether you have a question or just want to
            say hi, I’ll try my best to get back to you!
          </p>
          <a class="email-link" href="mailto:chittaranjan1998.das@gmail.com" rel="noopener noreferrer"
            target="_blank">Say Hello</a>
        </section>
      </main>
      <footer class="footer__StyledFooter-sc-4jwnt4-0 earxGk">
        <div class="footer__StyledCredit-sc-4jwnt4-2 fLSMpu">
          <a href="https://github.com/Chittaranjan127/portfolio" rel="noopener noreferrer" target="_blank">
            <div>Designed &amp; Built by Chittaranjan Das</div>
          </a>
        </div>
      </footer>
    </div>
  </div>
</div>