/* Header */

.cZslOS {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.hLTFFw {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}
.kFCHyX {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}
.kFCHyX .logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.ihALZY {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.dAwNpJ {
  display: none;
}
.kFCHyX .logo a {
  color: var(--green);
  width: 42px;
  height: 42px;
  position: relative;
  z-index: 1;
}
.kFCHyX .logo a .hex-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.kFCHyX .logo a .logo-container {
  position: relative;
  z-index: 1;
}
svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
  vertical-align: middle;
}
#logo {
  color: var(--green);
}
.ihALZY ol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.dAwNpJ {
  display: none;
}
.ihALZY ol li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}
.ihALZY ol li a {
  padding: 10px;
}
.ihALZY ol li a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--green);
  font-size: var(--fz-xxs);
  text-align: right;
}
.ihALZY .resume-button {
  color: #64ffda;
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}
.ihALZY .resume-button:hover,
.ihALZY .resume-button:focus-visible {
  outline: none;
  box-shadow: 3px 3px 0 0 var(--green);
  transform: translate(-4px, -4px);
}
.kFCHyX .logo a:hover,
.kFCHyX .logo a:focus {
  outline: 0px;
  transform: translate(-4px, -4px);
}
a:hover,
a:focus {
  color: var(--green);
}
.kFCHyX .logo a .logo-container svg polygon {
  fill: var(--navy);
}

/* Left Data */

.hOvuuP {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}
.dVLQAC {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.dVLQAC li a {
  padding: 10px;
}
.dVLQAC li a svg {
  width: 20px;
  height: 20px;
}
svg.feather {
  fill: none;
}
.dVLQAC::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

/* data right */
.jSIwrL {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);
}
.jJFfEJ {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.jJFfEJ a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.jJFfEJ::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

/* content */
main.fillHeight {
  padding: 0px 150px;
}
.ePyBYl {
  counter-reset: section 0;
}

/* section intro*/
@media (max-height: 700px) and (min-width: 700px), (max-width: 360px) {
}
.jnUoFC {
  height: auto;
  padding-top: var(--nav-height);
}
.jnUoFC {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
}
.jnUoFC h1 {
  margin: 0px 0px 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}
.big-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}
.jnUoFC h3 {
  margin-top: 5px;
  color: var(--slate);
  line-height: 0.9;
}
.jnUoFC p {
  margin: 20px 0px 0px;
  max-width: 540px;
}
.jnUoFC .email-link {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-top: 50px;
}
.jnUoFC .email-link:hover,
.jnUoFC .email-link:focus-visible {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--green);
  transform: translate(-5px, -5px);
}

/* secttion : about */
.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}
.bNXWUU .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}
.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}
.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}
.kNIdQM ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}
.kNIdQM ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}
.kNIdQM ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
.lbrXps {
  position: relative;
  max-width: 300px;
}
.gatsby-image-wrapper [data-main-image] {
  opacity: 0;
  transform: translateZ(0);
  transition: opacity 0.25s linear;
  will-change: opacity;
}
.gatsby-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.lbrXps .wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--green);
}
.lbrXps .wrapper::before {
  top: 0px;
  left: 0px;
  background-color: var(--navy);
  mix-blend-mode: screen;
}
.lbrXps .wrapper::before,
.lbrXps .wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.lbrXps .wrapper .img {
  position: relative;
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: var(--transition);
}
img,
svg,
.gatsby-image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.gatsby-image-wrapper-constrained {
  display: inline-block;
}
.gatsby-image-wrapper {
  position: relative;
  overflow: hidden;
}
.gatsby-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
img,
svg,
.gatsby-image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.lbrXps .wrapper:hover,
.lbrXps .wrapper:focus {
  outline: 0px;
  transform: translate(-4px, -4px);
}
.lbrXps .wrapper:hover,
.lbrXps .wrapper:focus-visible {
  box-shadow: 0 20px 30px -15px var(--navy-shadow);
}
.lbrXps .wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--green);
}
.lbrXps .wrapper::after {
  border: 2px solid var(--green);
  top: 14px;
  left: 14px;
  z-index: -1;
}
.lbrXps .wrapper::before,
.lbrXps .wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.wrapper:hover,
.gatsby-image-wrapper.gatsby-image-wrapper-constrained {
  filter: none !important;
  mix-blend-mode: normal !important;
}

/* section job */

.jdfosx {
  max-width: 700px;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}
.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}
.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}
@media (min-width: 700px) {
  .jdfosx .inner {
    min-height: 340px;
  }
}
.jdfosx .inner {
  display: flex;
}
.sAHTI {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.dHdZWh {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}
.gHbkvF {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}
.fLsUSJ {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: var(--border-radius);
  background: var(--green);
  transform: translateY(calc(0 * var(--tab-height)));
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.jbGgbG {
  position: relative;
  width: 100%;
  margin-left: 20px;
}
.QgHxr {
  width: 100%;
  height: auto;
  padding: 10px 5px;
}
.QgHxr h3 {
  margin-bottom: 2px;
  font-size: var(--fz-xxl);
  font-weight: 500;
  line-height: 1.3;
}
.QgHxr h3 .company {
  color: var(--green);
}
a.inline-link {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
a.inline-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
@media (prefers-reduced-motion: no-preference) {
  a.inline-link::after {
    transition: var(--transition);
  }
}
.QgHxr .range {
    margin-bottom: 25px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}
.QgHxr ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: var(--fz-lg);
}
.QgHxr ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.QgHxr ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
}
.fLsUxN {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: var(--border-radius);
  background: var(--green);
  transform: translateY(calc(1 * var(--tab-height)));
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.fLsVGd {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: var(--border-radius);
  background: var(--green);
  transform: translateY(calc(2 * var(--tab-height)));
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

/* section : contact */

.fMdyDu {
  max-width: 600px;
  margin: 0px auto 100px;
  text-align: center;
}
.fMdyDu .overline {
  display: block;
  margin-bottom: 20px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}
.overline {
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}
.fMdyDu .title {
  font-size: clamp(40px, 5vw, 60px);
}
p:last-child, p:last-of-type {
  margin: 0px;
}
.fMdyDu .email-link {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-top: 50px;
}
.fMdyDu .overline::before {
  bottom: 0px;
  font-size: var(--fz-sm);
}

.numbered-heading.overline::after{
  display: none !important;
}
/* section : footer */
.earxGk {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}
.iKeBGp {
  display: none;
}
.iKeBGp ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.iKeBGp ul a {
  padding: 10px;
}
.fLSMpu {
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: 1;
}

/* something i have built section */
.gvznfB:not(:last-of-type) {
  margin-bottom: 100px;
}
.gvznfB {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}
.gvznfB:nth-of-type(2n+1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}
.gvznfB .project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}
.gvznfB .project-overline {
  margin: 10px 0px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}
p:last-child, p:last-of-type {
  margin: 0px;
}
@media (min-width: 768px){
  .gvznfB .project-title {
    margin: 0px 0px 20px;
  }
}
.gvznfB .project-title {
  color: var(--lightest-slate);
  font-size: clamp(24px, 5vw, 28px);
}
.dnNJYD a {
  position: relative;
  z-index: 1;
}
.gvznfB .project-description {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fz-lg);
}
p:last-child, p:last-of-type {
  margin: 0px;
}
.gvznfB .project-description a {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
@media (prefers-reduced-motion: no-preference){
  .gvznfB .project-description a::after {
    transition: var(--transition);
  }
}
.gvznfB .project-description a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
.gvznfB:nth-of-type(2n+1) .project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.gvznfB .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}
.gvznfB:nth-of-type(2n+1) .project-tech-list li {
  margin: 0px 0px 5px 20px;
}
.gvznfB .project-tech-list li {
  margin: 0px 20px 5px 0px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  white-space: nowrap;
}
.gvznfB:nth-of-type(2n+1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}
.gvznfB .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: var(--lightest-slate);
}
.gvznfB .project-links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
}
.gvznfB .project-links a svg {
  width: 20px;
  height: 20px;
}
svg.feather {
  fill: none;
}
.gvznfB .project-links a.external svg {
  width: 22px;
  height: 22px;
  margin-top: -4px;
}
.gvznfB:nth-of-type(2n+1) .project-image {
  grid-column: 1 / 8;
}
.gvznfB .project-image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}
.gvznfB .project-image a {
  width: 100%;
  height: 100%;
  background-color: var(--green);
  border-radius: var(--border-radius);
  vertical-align: middle;
}
.dnNJYD a {
  position: relative;
  z-index: 1;
}
.gvznfB .project-image a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: var(--transition);
  background-color: var(--navy);
  mix-blend-mode: screen;
}
.gvznfB .project-image .img {
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1) brightness(90%);
}
img, svg, .gatsby-image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.gatsby-image-wrapper-constrained {
  display: inline-block;
}
.gatsby-image-wrapper {
  position: relative;
  overflow: hidden;
}
img[alt=""], img:not([alt]) {
  filter: blur(5px);
}
.gatsby-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.gatsby-image-wrapper [data-main-image] {
  opacity: 0;
  transform: translateZ(0);
  transition: opacity .25s linear;
  will-change: opacity;
}
.gvznfB .project-image a:hover, .gvznfB .project-image a:focus {
  background: transparent;
  outline: 0px;
}
.gvznfB .project-image a:hover::before, .gvznfB .project-image a:focus::before, .gvznfB .project-image a:hover .img, .gvznfB .project-image a:focus .img {
  background: transparent;
  filter: none;
}
.gvznfB .project-image a:hover, .gvznfB .project-image a:focus {
  background: transparent;
  outline: 0px;
}